[Unit]
Description=Gunicorn instance to serve RasfatulPescarului
After=network.target

[Service]
User=root # Replace with your user
Group=root # Replace with your group
WorkingDirectory=/Users/Silviu/Desktop/1/RasfatulPescarului
ExecStart=/bin/bash -c "source .venv/bin/activate && /Users/Silviu/Desktop/1/RasfatulPescarului/.venv/bin/gunicorn --config gunicorn_config.py RasfatulPescarului.wsgi:application"

[Install]
WantedBy=multi-user.target
